In [2]:
import numpy as np
import pandas as pd
import random
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('MelbourneHousing.csv')

In [4]:
print(df.shape)
df.head()

(34857, 21)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [5]:
df.nunique(axis=0)

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

Data Cleaning 
* changing object dtype to categorical
* converting date to datedtype
* dropping null values 
* filling null values with mean 
* dropping columns 
* removing duplicate variables

In [7]:
df.select_dtypes(['object']).columns

Index(['Suburb', 'Address', 'Type', 'Method', 'SellerG', 'Date', 'CouncilArea',
       'Regionname'],
      dtype='object')

In [8]:
#changing objects to categorical 
df_obj = ['Suburb', 'Address', 'Type', 'Method', 'SellerG','CouncilArea',
       'Regionname','Postcode'] 

for i in df_obj :
    df[i] = df[i].astype('category')

In [9]:
df['Date'] = pd.to_datetime(df['Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  category
 1   Address        34857 non-null  category
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  category
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  category
 6   SellerG        34857 non-null  category
 7   Date           34857 non-null  datetime64[ns]
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  category
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  category
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  category
 20  Propertycount  34854 non-null  float64
dtypes: category(8), datetime64[ns](1), float64(11), int64(1)
memory usage: 5.5 MB

In [10]:
df['Suburb']

0        Abbotsford
1        Abbotsford
2        Abbotsford
3        Abbotsford
4        Abbotsford
            ...
34852    Yarraville
34853    Yarraville
34854    Yarraville
34855    Yarraville
34856    Yarraville
Name: Suburb, Length: 34857, dtype: category
Categories (351, object): ['Abbotsford', 'Aberfeldie', 'Airport West', 'Albanvale', ..., 'Yarra Glen', 'Yarraville', 'croydon', 'viewbank']

In [11]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Rooms,34857.0,3.031012e+00,0.969933,1.00000,2.00000,3.0000,4.000000e+00,1.600000e+01
Price,27247.0,1.050173e+06,641467.130105,85000.00000,635000.00000,870000.0000,1.295000e+06,1.120000e+07
Distance,34856.0,1.118493e+01,6.788892,0.00000,6.40000,10.3000,1.400000e+01,4.810000e+01
Bedroom2,26640.0,3.084647e+00,0.980690,0.00000,2.00000,3.0000,4.000000e+00,3.000000e+01
Bathroom,26631.0,1.624798e+00,0.724212,0.00000,1.00000,2.0000,2.000000e+00,1.200000e+01
Car,26129.0,1.728845e+00,1.010771,0.00000,1.00000,2.0000,2.000000e+00,2.600000e+01
Landsize,23047.0,5.935990e+02,3398.841946,0.00000,224.00000,521.0000,6.700000e+02,4.330140e+05
BuildingArea,13742.0,1.602564e+02,401.267060,0.00000,102.00000,136.0000,1.880000e+02,4.451500e+04
YearBuilt,15551.0,1.965290e+03,37.328178,1196.00000,1940.00000,1970.0000,2.000000e+03,2.106000e+03
Lattitude,26881.0,-3.781063e+01,0.090279,-38.19043,-37.86295,-37.8076,-3.775410e+01,-3.739020e+01
Longtitude,26881.0,1.450019e+02,0.120169,144.42379,144.93350,145.0078,1.450719e+02,1.455264e+02
Propertycount,34854.0,7.572888e+03,4428.090313,83.00000,4385.00000,6763.0000,1.041200e+04,2.165000e+04

In [12]:
# according to the std of lattitude and longitude it is approx to 0 , it wont affects much on the mean , can drop.

df.drop(['Longtitude','Lattitude'] , axis=1 , inplace=True)

In [13]:
df.drop_duplicates(keep=False , inplace=True)

df.shape

(34855, 19)

In [14]:
df ['Rooms vs Bedroom2'] = df['Rooms'] - df['Bedroom2']
df['Rooms vs Bedroom2'].value_counts()
# checking if the freq between them is 0 , if 0 means duplicated need to remove

 0.0     25690
 1.0       569
-1.0       248
 2.0        77
-2.0        23
 3.0        18
 4.0         4
-6.0         2
-3.0         2
-7.0         1
-17.0        1
-27.0        1
-5.0         1
 8.0         1
Name: Rooms vs Bedroom2, dtype: int64

In [15]:
#The differences between these variables are minimal so keeping both would only be duplicating information. So , dropping bedroom2 is a better choice.
df = df.drop(['Bedroom2','Rooms vs Bedroom2'],1)
df.shape

(34855, 18)

Managing null values

In [16]:
df.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7608
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Regionname           3
Propertycount        3
dtype: int64

In [17]:
df.dropna(subset=['Distance','Postcode','CouncilArea','Regionname','Propertycount','Price'],inplace=True)

In [18]:
#replace null values in specific rows/columns with mean
df['Landsize'].fillna(df['Landsize'].mean(), inplace=True)
df['BuildingArea'].fillna(df['BuildingArea'].mean(), inplace=True)
df['YearBuilt'].fillna(df['YearBuilt'].mean(), inplace=True)

#to replace null values with mean
df['Car'] = df.groupby('Type')['Car'].transform(lambda x: x.fillna(x.mean()))
df['Bathroom'] = df.groupby('Rooms')['Bathroom'].transform(lambda x: x.fillna(x.mean()))

df.loc[df['Bathroom'].isna()]
df.drop(index = 7535, inplace=True)

df.isnull().sum()

#df.reset_index(drop=True)

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Regionname       0
Propertycount    0
dtype: int64

Split Data and Linear Regression
* determining underfitting or overfitting

In [19]:
X = df[['Rooms', 'Distance', 'Bathroom', 'Car', 'Landsize','BuildingArea', 'Propertycount']]
y = df['Price']

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.20, random_state=0)

In [21]:
lg = LinearRegression().fit(train_X,train_y)
coeff_df = pd.DataFrame(lg.coef_, X.columns, columns=['Coefficient'])
coeff_df

                 Coefficient
Rooms          269185.600926
Distance       -35923.703115
Bathroom       209903.590861
Car             55925.898100
Landsize           11.577084
BuildingArea       41.634456
Propertycount      -3.202396

In [22]:
# R square for linear 
y_pred = lg.predict(test_X)
print('Train score: ',lg.score(train_X, train_y))
print('Test score : ',lg.score(test_X, test_y))

Train score:  0.38309054875463877
Test score :  0.35494404674315816

In [23]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(test_y, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(test_y, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(test_y, y_pred)))

Mean Absolute Error: 346121.05327463005
Mean Squared Error: 257923181216.72104
Root Mean Squared Error: 507861.37992243614

Data evaluation using ridge and lasso regression

In [24]:
from sklearn import linear_model
from sklearn.linear_model import Ridge, RidgeCV, Lasso, LassoCV
lasso_reg = Lasso(alpha=1.0, max_iter=100, normalize=True)
lasso_reg.fit(train_X, train_y)
mse = metrics.mean_squared_error(test_y, lasso_reg.predict(test_X))
r2 = lasso_reg.score(test_X,test_y)

print('Mean Squared Error:', mse)
print('R-square value:', r2)

Mean Squared Error: 257868819882.63892
R-square value: 0.35508000234827763

In [25]:
ridge_reg = linear_model.Ridge (alpha=1.0, max_iter=100, normalize=True)
ridge_reg.fit(train_X, train_y)
mse = metrics.mean_squared_error(test_y, ridge_reg.predict(test_X))
r2 = ridge_reg.score(train_X,train_y)

print('Mean Squared Error:', mse)
print('R-square value:', r2)

Mean Squared Error: 287193387287.6662
R-square value: 0.29919289901003454

In [26]:
regr_cv = RidgeCV(alphas=[0.1, 1.0, 10.0])
model_cv = regr_cv.fit(X, y)
print('alpha: %.2f' % model_cv.alpha_)

alpha: 0.10